{{#if closebutton}}<span class="searchahead-removeitem">X</span>{{/if}}
<img src="{{leadImage}}" alt="" />
<h1>{{title}}</h1>
<a href="{{path}}">More about this lodge</a>

{{#if single}}
<div class="searchahead-roomtypes">
    <em>Loading..</em>
</div>
{{/if}}