<span class="searchahead-removeitem">X</span>
<img src="{{leadImage}}" alt="" />
<h1>{{title}}</h1>
<a href="{{path}}">More about this lodge</a>

<div class="searchahead-roomtypes">
    <em>Loading..</em>
</div>